/* Reseteo de la pagian */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/*Fuentes */
@font-face {
    font-family: ;
    src: url();
}

:root {
    --header-bgcolorsecond: ;
    --header-colormain: ;
    --header-colorsecond: ;
    --main-bgcolormain: ;
}

body {}

header {
    background-color: rgba(132, 131, 131, 1);
    height: 225px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    
}
.header_left,
.header_right {
      
      align-items: center;
      gap: 1em;
      padding: 0 8em;
  }

.logo {
    width: 200px;
    height: 200px;

}

.Imagenes {
    display: flex;
    justify-content: center;
}

.Imagenes1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
    padding-top: 2%;
}

.Imagenes1 img {
    width: 55em;
    height: 55em;
    border-radius: 5%;
    object-fit: cover;
    
    
}
