/* Estilos generales para resetear márgenes, padding y estilos de lista y texto */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* Estilos generales del cuerpo del documento */
body {
    margin: 0;
    padding: 0;
    background-image: url("../rc2-project2-project-2-group-7/img/Fondo\ de\ pagina.jpg");
}

/* Estilos para la sección de encabezado */
header {
    background-color: rgba(132, 131, 131, 1);
    height: 225px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

/* Estilos para la parte izquierda y derecha del encabezado */
.header_left,
.header_right {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 8em;
}

/* Estilos para el logo de la empresa */
.logo {
    width: 250px;
    height: 250px;
}

/* Estilos para la sección principal */
main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Estilos para cada columna de imágenes */
.column {
    display: flex;
    flex-direction: column;
}

/* Estilos para el contenedor de cada imagen con texto */
.image-container {
    position: relative;
    margin-bottom: 20px;
}

/* Estilos para las imágenes */
.image-container img {
    width: 100%;
    max-width: 1000px; /* Ajusta el valor según sea necesario */
    height: auto;
    border-radius: 10%;
}

/* Estilos para el overlay con iconos, botón y texto descriptivo */
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Efecto de transición al pasar el ratón sobre la imagen */
.image-container:hover .overlay {
    opacity: 1;
}

/* Estilos para el contenedor de iconos */
.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para cada icono */
.icon {
    margin: 0 20px; /* Ajusta el valor según sea necesario */
    font-size: 24px; /* Ajusta el valor según sea necesario */
}

/* Estilos para el texto descriptivo */
.overlay p {
    margin-top: 10px;
    color: white;
}

/* Estilos para el botón debajo de la imagen */
.image-button {
    display: block;
    margin-top: 10px;
    padding: 12px 24px; /* Ajusta el valor según sea necesario */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px; /* Ajusta el valor según sea necesario */
    cursor: pointer;
    font-size: 18px; /* Ajusta el valor según sea necesario */
}