/* Reseteo de la pagian */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/*Fuentes */
@font-face {
    font-family: ;
    src: url();
}

:root {
    --header-bgcolorsecond: ;
    --header-colormain: ;
    --header-colorsecond: ;
    --main-bgcolormain: ;
}

body {}

header {
    background-color: rgba(132, 131, 131, 1);
    height: 225px;
    display: flex;
    align-items: center;
    background-color:rgba(132, 131, 131, 1);
    height: 200px;
    display:flex;
    justify-content: space-between;
}

.header_right {
    width: 200px;
    height: 200px;
    align-items: end;
    float: right;
}

.Logo_empresa {
    width: 200px;
    height: 200px;

}

.Imagenes {
    display: flex;
    justify-content: center;
}

.Imagenes1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
    padding-top: 2%;
}

.Imagenes1 img {
    width: 20%;
    height: 30%;
    border-radius: 10%;
    object-fit: cover;
}
